.descricao {
    display: grid;
    grid-template-columns: 200px 200px 200px;
}
.descricao input {
    margin: 2px;
    border-radius: 5px;
}

.atributos {
    display: grid;
    grid-template-columns: 90px 150px 90px 150px 90px 150px;
}